@import "tailwindcss";

/* graph structure */
body{
  min-height: 100vh;
  height: 300vh;
  color: white;
  background-color: #0f0f0f;
  background-image: 
  linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
  linear-gradient(90deg,rgba(255, 255, 255, 0.08) 1px, transparent 1px)
  ;
  background-size: 25px 25px;
}


@theme{
  --font-Merienda: 'Merienda', cursive;
  --font-Anton: "Anton","Bebas Neue", sans-serif;
}
